/*=========== TABLE OF CONTENTS ===========
1. Text CSS
2. Heading CSS
==========================================*/

/*-------------------------------------
  1. Text CSS
--------------------------------------*/
.ui.text.size-textxs {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }
  
  .ui.text {
    color: var(--black_900);
    font-family: Inter;
  }
  
  /*-------------------------------------
    2. Heading CSS
  --------------------------------------*/
  .ui.heading.size-texts {
    font-size: 20px;
    font-weight: 500;
    font-style: bold;
  }
  
  .ui.heading.size-headingxs {
    font-size: 12px;
    font-weight: 700;
    font-style: bold;
  }
  
  .ui.heading.size-headings {
    font-size: 14px;
    font-weight: 700;
    font-style: bold;
  }
  
  .ui.heading.size-headingmd {
    font-size: 15px;
    font-weight: 700;
    font-style: bold;
  }
  
  .ui.heading.size-headinglg {
    font-size: 20px;
    font-weight: 700;
    font-style: bold;
  }
  
  .ui.heading.size-headingxl {
    font-size: 24px;
    font-weight: 700;
    font-style: bold;
    @media only screen and (max-width: 1050px) {
      font-size: 22px;
    }
  }
  
  .ui.heading.size-heading2xl {
    font-size: 32px;
    font-weight: 700;
    font-style: bold;
    @media only screen and (max-width: 1050px) {
      font-size: 30px;
    }
  
    @media only screen and (max-width: 550px) {
      font-size: 28px;
    }
  }
  
  .ui.heading {
    color: var(--black_900);
    font-family: Inter;
  }
  